extend _template

block vars
  - title = '東京ディズニーリゾート'
  - description = ''
  - keywords = ''
  - img = ''
  - url = ''

block main
  //- div(data-module='dummy' data-options='{ "dummy_opt": "dummy" }') Click me!
  //- div(data-module='legacy') Legacy!

  | #{"\n"}
  .wrap
    //{* ヘッダーインクルード *}
    //- #include virtual="/ssi/header_event_ps_inc.html"
    include /ssi/header_event_ps_inc.pug

    //{* /ヘッダーインクルード *}
    | #{"\n"}
    .contents-inner.breadcrumb_area.pc
      //{* ここにパンくずを入れてください PC *}
      .breadcrumb
        ul.inner
          li
            span.text-buttons.text-buttons-s
              a(href='/top.html') TOP
          li.current
            span ページタイトル
      //{* /ここにパンくずを入れてください PC *}

    | #{"\n"}
    //{* コンテンツエリア *}
    article#content-area

      .sec-inner
        // KV
        .sec-block
          .youtube_wrap
            .youtube
              #player(data-module="movie")
              //- iframe(width="560" height="315" src="https://www.youtube.com/embed/bjmBJ1Fl0cs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")

        .sec-block
          .slide_wrap(data-module='slider')
            .slide_wrap__image
              img(src=`images/img_slide_01.jpg` alt="")
            .slide_wrap__image
              img(src=`images/img_slide_02.jpg` alt="")
            .slide_wrap__image
              img(src=`images/img_slide_03.jpg` alt="")


        .sec-block
          .gallery_wrap(data-module='showMore')
            ul.gallery_wrap__lists
              li
                img(src=`images/img_thumb_01.jpg` alt="")
              li
                img(src=`images/img_thumb_02.jpg` alt="")
              li
                img(src=`images/img_thumb_03.jpg` alt="")
              li
                img(src=`images/img_thumb_04.jpg` alt="")
              li
                img(src=`images/img_thumb_05.jpg` alt="")
              li
                img(src=`images/img_thumb_06.jpg` alt="")
              li
                img(src=`images/img_thumb_07.jpg` alt="")
              li
                img(src=`images/img_thumb_08.jpg` alt="")
              li
                img(src=`images/img_thumb_09.jpg` alt="")

            .btn--showmore SHOW MORE



      //- div(style='text-align:center;min-height:500px;')
      //-   p コンテンツエリア
      //-   p.pc
      //-     |pcクラスをつけるとPCのみ表示されます。
      //-   p.spn
      //-     |spnクラスをつけるとSPNのみ表示されます。
    //{* /コンテンツエリア *}

    | #{"\n"}
    //{* フッターインクルード *}
    //- //#include virtual="/ssi/footer_event_ps_inc.html"
    include /ssi/footer_event_ps_inc.pug
    //{* /フッターインクルード *}
  // /.wrap 

  | #{"\n"}
  //{* 計測用ADPLAN タグ *}
  //- include virtual="/ssi/adplan_inc.html"
  include /ssi/adplan_inc.pug
  //{* /計測用ADPLAN タグ *}
  | #{"\n"}

