extend _template

block vars
  - title = '東京ディズニーリゾート'
  - description = ''
  - keywords = ''
  - img = ''
  - url = ''

block main
  //- div(data-module='dummy' data-options='{ "dummy_opt": "dummy" }') Click me!
  //- div(data-module='legacy') Legacy!

  | #{"\n"}
  .wrap
    //{* ヘッダーインクルード *}
    //- #include virtual="/ssi/header_event_ps_inc.html"
    include /ssi/header_event_ps_inc.pug

    //{* /ヘッダーインクルード *}
    | #{"\n"}
    .contents-inner.breadcrumb_area.pc
      //{* ここにパンくずを入れてください PC *}
      .breadcrumb
        ul.inner
          li
            span.text-buttons.text-buttons-s
              a(href='/top.html') TOP
          li.current
            span ブラックコーデディズニー
      //{* /ここにパンくずを入れてください PC *}

    | #{"\n"}
    //{* コンテンツエリア *}
    article#content-area

      .sec-inner
        // KV
        .sec-block
          .youtube-wrap
            .youtube-content
              #player(data-module="movie")
              //- iframe(width="560" height="315" src="https://www.youtube.com/embed/bjmBJ1Fl0cs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
            .
              <div class="youtube-content__scroll"> <span>SCROLL</span> </div>


        .sec-block
          .sec-block__lead

          .slide-wrap(data-module='slider')
            .slide-wrap__image
              img(src=`images/img_slide_01.jpg` alt="")
            .slide-wrap__image
              img(src=`images/img_slide_02.jpg` alt="")
            .slide-wrap__image
              img(src=`images/img_slide_03.jpg` alt="")


        .sec-block
          h2.sec-block__title
           | 東京ディズニーリゾート公式 Instagramにあなたが登場!?

          p.sec-block__text
            | カメラキャストに撮影された写真は
            br
            | 東京ディズニーリゾート公式サイトと
            br
            | インスタグラムストーリーズにアップされるかも!?

          .insta-wrap
            .insta-wrap__kv
            a.sec-btn__dl(href="http://www.tokyodisneyresort.jp/photo/index02.html" target='_blank')
            .insta-wrap__stories
              ul
                li
                  img(src=`images/img_stories01.png` alt="")
                li
                  img(src=`images/img_stories02.png` alt="")
                li
                  img(src=`images/img_stories03.png` alt="")
            a.sec-btn__instagram(href="https://www.instagram.com/tokyodisneyresort_official/" target='_blank')



        .sec-block
          h2.sec-block__title
            | みんなのブラックコーデを見てみよう！

          //- .gallery-wrap(data-module='showMore')
          .gallery-wrap
            h3.sec-block__lead
              | American Waterfront
              | アメリカンウォーターフロントで撮影した写真を見てみよう!
            ul.gallery-wrap__lists._showmore
              li
                img(src=`images/img_thumb_01.jpg` alt="")
              li
                img(src=`images/img_thumb_02.jpg` alt="")
              li
                img(src=`images/img_thumb_03.jpg` alt="")
              li
                img(src=`images/img_thumb_04.jpg` alt="")
              li
                img(src=`images/img_thumb_05.jpg` alt="")
              li
                img(src=`images/img_thumb_06.jpg` alt="")
              li
                img(src=`images/img_thumb_07.jpg` alt="")
              li
                img(src=`images/img_thumb_08.jpg` alt="")
              li
                img(src=`images/img_thumb_09.jpg` alt="")
            //- .sec-btn__showmore

          .gallery-wrap
            h3.sec-block__lead
              |Arabian Coast
              |アラビアンコーストで撮影した写真を見てみよう!
            ul.gallery-wrap__lists._showmore
              li
                img(src=`images/img_thumb_01.jpg` alt="")
              li
                img(src=`images/img_thumb_02.jpg` alt="")
              li
                img(src=`images/img_thumb_03.jpg` alt="")
              li
                img(src=`images/img_thumb_04.jpg` alt="")
              li
                img(src=`images/img_thumb_05.jpg` alt="")
              li
                img(src=`images/img_thumb_06.jpg` alt="")
              li
                img(src=`images/img_thumb_07.jpg` alt="")
              li
                img(src=`images/img_thumb_08.jpg` alt="")
              li
                img(src=`images/img_thumb_09.jpg` alt="")
            //- .sec-btn__showmore

        .sec-block

          h2.sec-block__title
           | 東京ディズニーリゾート公式 Instagramにあなたが登場!?

          .slide-wrap(data-module='slider')
            .slide-wrap__image
              .slide-wrap__inner._item01
                a.slide-wrap__balloon(href='https://www.tokyodisneyresort.jp/tags/goods/8044/' target='_blank')
                  .slide-wrap__balloon__bg
                  .slide-wrap__balloon__content
                    .slide-wrap__balloon__content__thumb
                    .slide-wrap__balloon__content__name キャップ

                a.slide-wrap__balloon(href='https://www.tokyodisneyresort.jp/tags/goods/8030/' target='_blank')
                  .slide-wrap__balloon__bg
                  .slide-wrap__balloon__content
                    .slide-wrap__balloon__content__thumb
                    .slide-wrap__balloon__content__name サングラス

              img(src=`images/img_item01.jpg` alt="")


            .slide-wrap__image
              .slide-wrap__inner._item02
                a.slide-wrap__balloon(href='https://www.tokyodisneyresort.jp/tags/goods/8044/' target='_blank')
                  .slide-wrap__balloon__bg
                  .slide-wrap__balloon__content
                    .slide-wrap__balloon__content__thumb
                    .slide-wrap__balloon__content__name キャップ

                a.slide-wrap__balloon(href='https://www.tokyodisneyresort.jp/tags/goods/8030/' target='_blank')
                  .slide-wrap__balloon__bg
                  .slide-wrap__balloon__content
                    .slide-wrap__balloon__content__thumb
                    .slide-wrap__balloon__content__name サングラス

              img(src=`images/img_item02.jpg` alt="")


            //- .slide-wrap__image
            //-   .slide-wrap__inner._item02
            //-     a.slide-wrap__balloon(href='https://www.tokyodisneyresort.jp/tags/goods/8044/' target='_blank')
            //-       .slide-wrap__balloon__thumb
            //-       .slide-wrap__balloon__name キャップ
            //-     a.slide-wrap__balloon(href='https://www.tokyodisneyresort.jp/tags/goods/8030/' target='_blank')
            //-       .slide-wrap__balloon__thumb
            //-       .slide-wrap__balloon__name サングラス
            //-   img(src=`images/img_item02.jpg` alt="")



            //- .slide-wrap__image
            //-   img(src=`images/img_item03.jpg` alt="")
            //- .slide-wrap__image
            //-   img(src=`images/img_item04.jpg` alt="")

          a.sec-btn__specialgoods(href="https://www.tokyodisneyresort.jp/treasure/fantasy/halloween2019/tds/goods03.html" target='_blank')




      //- div(style='text-align:center;min-height:500px;')
      //-   p コンテンツエリア
      //-   p.pc
      //-     |pcクラスをつけるとPCのみ表示されます。
      //-   p.spn
      //-     |spnクラスをつけるとSPNのみ表示されます。
    //{* /コンテンツエリア *}

    | #{"\n"}
    //{* フッターインクルード *}
    //- //#include virtual="/ssi/footer_event_ps_inc.html"
    include /ssi/footer_event_ps_inc.pug
    //{* /フッターインクルード *}
  // /.wrap 

  | #{"\n"}
  //{* 計測用ADPLAN タグ *}
  //- include virtual="/ssi/adplan_inc.html"
  include /ssi/adplan_inc.pug
  //{* /計測用ADPLAN タグ *}
  | #{"\n"}

